#### Extract Autonomous Cars data

In [32]:
# import libraries

from GoogleNews import GoogleNews
from newspaper import Article
from newspaper import Config
import pandas as pd
import nltk

In [33]:
# configuring browser

user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'
config = Config()
config.browser_user_agent = user_agent

In [34]:
# searching the autonomous articles

googlenews=GoogleNews(start='01/01/2010',end='04/09/2021')
googlenews.search('Autonomous Cars')
result=googlenews.result()
df=pd.DataFrame(result)

In [35]:
# fetching the articles 

for i in range(2,29):
    googlenews.getpage(i)
    result=googlenews.result()
    df=pd.DataFrame(result)

In [46]:
# Get the dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     280 non-null    object
 1   media     280 non-null    object
 2   date      280 non-null    object
 3   datetime  280 non-null    datetime64[ns]
 4   desc      280 non-null    object
 5   link      280 non-null    object
 6   img       280 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 15.4+ KB

In [45]:
# getting the full article and storing in excel, whenever there is an issue accessing the article - log the index, ignore and continue.
lst = []
for ind in df.index:
    d={}
    article = Article(df['link'][ind],config=config)
    article.download()
    try:
        article.parse()
    except:
        print(ind)
        continue
    article.nlp()
    d['Date']=df['date'][ind]
    d['Media']=df['media'][ind]
    d['Title']=article.title
    d['Article']=article.text
    d['Summary']=article.summary
    lst.append(d)
news_df=pd.DataFrame(lst)
news_df.to_excel("articles.xlsx")

117
199
211
214
227
234
241
247
257
258
269
278

In [50]:
news_df['Category'] = 'Autonomous Cars'

In [51]:
news_df.head()

,Date,Media,Title,Article,Summary,Category
0,"Mar 23, 2018",The New York Times,Uber’s Self-Driving Cars Were Struggling Befor...,The Tempe Police Department said it was invest...,We continue to assist investigators in any way...,Autonomous Cars
1,"th · Mar 20, 2018",The Atlantic,Self-Driving Cars Still Don't Know How to See,"On Sunday, the inevitable happened: An autonom...",Cars don’t see wellAutonomous cars don’t track...,Autonomous Cars
2,"Mar 21, 2018",Pew Research Center,Americans had concerns about self-driving cars...,Even before a driverless Uber vehicle struck a...,"The accident in Tempe, Arizona, was believed t...",Autonomous Cars
3,"Mar 19, 2018",The New York Times,How Driverless Cars See the World Around Them,"On Sunday night, a woman died after she was hi...","On Sunday night, a woman died after she was hi...",Autonomous Cars
4,"th · Mar 19, 2018",TechCrunch,Here’s how Uber’s self-driving cars are suppos...,A self-driving vehicle made by Uber has struck...,Something unexpectedly entering the vehicle’s ...,Autonomous Cars

In [48]:
# read dataset from article

df_bbc = pd.read_csv('/Users/nvvankad/Documents/new_laptop/Personal/Masters/csce 5222 Feature Engineering/Latest-News-Classifier-master/0. Latest News Classifier/01. Dataset Creation/News_dataset.csv', sep=';')

In [52]:
df_bbc.head()

,File_Name,Content,Category,Complete_Filename
0,001.txt,Ad sales boost Time Warner profit\n\nQuarterly...,business,001.txt-business
1,002.txt,Dollar gains on Greenspan speech\n\nThe dollar...,business,002.txt-business
2,003.txt,Yukos unit buyer faces loan claim\n\nThe owner...,business,003.txt-business
3,004.txt,High fuel prices hit BA's profits\n\nBritish A...,business,004.txt-business
4,005.txt,Pernod takeover talk lifts Domecq\n\nShares in...,business,005.txt-business

In [65]:
df_auto = news_df[['Article','Summary','Category']]
df_auto.rename(columns = {'Article':'Content'},inplace = True)

/Users/nvvankad/Documents/new_laptop/Personal/Masters/csce 5222 Feature Engineering/ICE_Assignment1_NagaSumanthVankadari/ice1_assignment_venv/lib/python3.8/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [69]:
df_auto.head()

,Content,Summary,Category
0,The Tempe Police Department said it was invest...,We continue to assist investigators in any way...,Autonomous Cars
1,"On Sunday, the inevitable happened: An autonom...",Cars don’t see wellAutonomous cars don’t track...,Autonomous Cars
2,Even before a driverless Uber vehicle struck a...,"The accident in Tempe, Arizona, was believed t...",Autonomous Cars
3,"On Sunday night, a woman died after she was hi...","On Sunday night, a woman died after she was hi...",Autonomous Cars
4,A self-driving vehicle made by Uber has struck...,Something unexpectedly entering the vehicle’s ...,Autonomous Cars

In [70]:
# removing the tech category from article dataset
df_bbc = df_bbc[df_bbc['Category'] != 'tech'].reset_index(drop = True)

In [71]:
# concatenating bbc with autonomous articles
frames = [df_auto,df_bbc]
df_final_data = pd.DataFrame(pd.concat(frames,ignore_index = True))

In [72]:
df_final_data.to_excel("final_articles.xlsx")

In [74]:
# saving the dataframe to csv
df_final_news = df_final_data.to_csv('/Users/nvvankad/Documents/new_laptop/Personal/Masters/csce 5222 Feature Engineering\extract_dataset.csv')